Repository Inlyne-Project/inlyne, pull requests merged in 2024-01, with the labels that each got.

#219 Expose additional `two-face` themes
  inlyne.default.toml
  src/color.rs
  src/interpreter/snapshots/inlyne__interpreter__tests__code_block_bg_color.snap
  src/interpreter/snapshots/inlyne__interpreter__tests__code_in_ordered_list.snap
  src/interpreter/snapshots/inlyne__interpreter__tests__handles_comma_in_info_str.snap
  src/opts/tests/snapshots/inlyne__opts__tests__error_msg__unknown_theme.snap
Labels: C-enhancement, !!breaking change!!, A-theme

#221 Support underlines in codeblock syntax highlighting
  src/color.rs
  src/interpreter/html.rs
  src/interpreter/mod.rs
  src/interpreter/snapshots/inlyne__interpreter__tests__aligned_table.snap
  src/interpreter/snapshots/inlyne__interpreter__tests__bare_link_gets_autolinked.snap
  src/interpreter/snapshots/inlyne__interpreter__tests__checklist_has_no_text_prefix.snap
  src/interpreter/snapshots/inlyne__interpreter__tests__code_block_bg_color.snap
  src/interpreter/snapshots/inlyne__interpreter__tests__code_in_ordered_list.snap
  src/interpreter/snapshots/inlyne__interpreter__tests__footnotes_list_prefix.snap
  src/interpreter/snapshots/inlyne__interpreter__tests__handles_comma_in_info_str.snap
  src/interpreter/snapshots/inlyne__interpreter__tests__nested_ordered_list.snap
  src/interpreter/snapshots/inlyne__interpreter__tests__ordered_list_in_unordered.snap
  src/interpreter/snapshots/inlyne__interpreter__tests__para_in_ordered_list.snap
  src/interpreter/snapshots/inlyne__interpreter__tests__toml_gets_highlighted.snap
  src/interpreter/snapshots/inlyne__interpreter__tests__underline_in_codeblock.snap
  src/interpreter/snapshots/inlyne__interpreter__tests__unordered_list_in_ordered.snap
  src/interpreter/snapshots/inlyne__interpreter__tests__yaml_frontmatter.snap
  src/interpreter/tests.rs
Labels: C-enhancement, A-theme

#224 feat: extra keybindings override base
  src/keybindings/keybindings.rs
  src/keybindings/mod.rs
  src/keybindings/tests.rs
  src/opts/config.rs
  src/opts/mod.rs
  src/opts/tests/error_msg.rs
  src/opts/tests/parse.rs
Labels: C-enhancement, A-keybinding, A-config

#225 Add support for colored underlines and strikethroughs
  src/renderer.rs
  src/text.rs
  src/utils.rs
Labels: C-enhancement
